<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label>Benutzername:</label>
    <input type="text" name="username" required>
    <br>
    <label>Passwort:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Login</button>
  </form>
  <p>Noch keinen Account? <a href="/signup">Hier registrieren</a></p>
</body>
</html>
