<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/login" method="POST">
    <label for="username">Benutzername:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Anmelden</button>
  </form>
  <p>Noch keinen Account? <a href="/signup">Registrieren</a></p>
</body>
</html>
