<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Registrierung</title>
</head>
<body>
  <h1>Registrierung</h1>
  <form action="/signup" method="POST">
    <label>Benutzername:</label>
    <input type="text" name="username" required>
    <br>
    <label>Passwort:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Registrieren</button>
  </form>
  <p>Bereits registriert? <a href="/login">Hier anmelden</a></p>
</body>
</html>
