<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
</head>
<body>
  <h1>Signup</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/signup" method="post">
    <label>Benutzername:</label>
    <input type="text" name="username" required>
    <br>
    <label>Passwort:</label>
    <input type="password" name="password" required>
    <br>
    <label>Geschlecht:</label>
    <select name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <br>
    <label>Geburtstag:</label>
    <input type="date" name="birthday" required>
    <br>
    <label>Profilbild URL:</label>
    <input type="text" name="image_url" required>
    <br>
    <button type="submit">Signup</button>
  </form>
  <p>Bereits registriert? <a href="/login">Login</a></p>
</body>
</html>
